html {
    background: url('johnxina.jpg') no-repeat center fixed;     
    background-size: cover;
}

body {
    background-color: transparent;
}

form {
    border: 5px black solid;
    background-color: rgba(50,50,50,0.5);
    border-radius: 20px;
}
img {
    width: 300px;   
}